/* Margin */
/* sm */
.margin-sm { margin: 5px; }
.margin-top-sm { margin-top: 5px; }
.margin-left-sm { margin-left: 5px; }
.margin-right-sm { margin-right: 5px; }
.margin-bottom-sm { margin-bottom: 5px; }
/* md */
.margin-md { margin: 10px; }
.margin-top-md { margin-top: 10px; }
.margin-left-md { margin-left: 10px; }
.margin-right-md { margin-right: 10px; }
.margin-bottom-md { margin-bottom: 10px; }
/* lg */
.margin-lg { margin: 15px; }
.margin-top-lg { margin-top: 15px; }
.margin-left-lg { margin-left: 15px; }
.margin-right-lg { margin-right: 15px; }
.margin-bottom-lg { margin-bottom: 15px; }

/* Padding */
/* sm */
.pad-sm { padding: 5px; }
.pad-top-sm { padding-top: 5px; }
.pad-left-sm { padding-left: 5px; }
.pad-right-sm { padding-right: 5px; }
.pad-bottom-sm { padding-bottom: 5px; }
/* md */
.pad-md { padding: 10px; }
.pad-top-md { padding-top: 10px; }
.pad-left-md { padding-left: 10px; }
.pad-right-md { padding-right: 10px; }
.pad-bottom-md { padding-bottom: 10px; }
/* lg */
.pad-lg { padding: 15px; }
.pad-top-lg { padding-top: 15px; }
.pad-left-lg { padding-left: 15px; }
.pad-right-lg { padding-right: 15px; }
.pad-bottom-lg { padding-bottom: 15px; }

/* Style */
body {  background-color: #d3d3d3; }
.bg-white {  background-color: #ffffff; }